@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p
<p>Autor: @ViewData["MadeBy"]</p>
<address>
    <strong>More information:</strong>
    <a href="https://www.facebook.com/gabriel.dalbelo/">My Facebook</a>
</address>
